h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
}

html {
    box-sizing: border-box;
}

ul {
    list-style: none;
}



section {
    padding-top: 94px;
    padding-bottom: 94px;
}

header {
    border-bottom: solid #ECECEC 1px;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

header .container {
    display: flex;
    align-items: center;

}