.team {
    background-color: var(--third-white-color);

}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    margin-bottom: 50px;
}

.team-list {
    display: flex;
    justify-content: space-between;
    padding-left: 0;
}

.team-item {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-img {}

.team-list-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    margin-bottom: 10px;
}

.team-text {
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--second-text-color);
    margin-bottom: 16px;
}

.team-cards {
    padding: 30px 0;
    background-color: var(--white-bgc);
}

.team-soc {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding-left: 0;
}

.team-soc-link {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 250ms var(--timing-function);
    &:hover,
    &:focus {
        background-color: var(--accent-color);
        outline: 0;
    }
}





.team-soc-icon {
    fill: var(--fill-color-icons);
    .team-soc-link:hover &,
    .team-soc-link:focus & {
        fill: var(--white-color);
        outline: 0;
    }
}